@media (max-width: 37.5em) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 30em) {
    .link {
        text-align: center;
        display: block;
    }
    .hero h2 {
        line-height: 1.05;
        text-align: center;
    }
    #q-what-happened .q-buttons {
        align-items: center;
        flex-direction: column;
    }
}
